body {
  background-color: #000060;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #000080;
  display: flex;
}

header nav ul {
  display: flex; /* alinha os itens horizontalmente */
  list-style: none; /* remove as bolinhas */
  margin: 5px; /* remove a margem padrão */
  padding: 5px; /* remove o padding padrão */
}

header nav li {
  margin-right: 10px; /* adiciona um espaço entre os itens */
}

.button-link {
  background-color: #fff; /* cor de fundo azul */
  border: none; /* remova a borda padrão */
  border-radius: 5px; /* bordas arredondadas */
  color: #000; /* cor do texto branca */
  cursor: pointer; /* cursor de mão para indicar clicabilidade */
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none; /* remova o sublinhado padrão */
}

.logout-button {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: inherit;
  height: inherit;
}

.centralized {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #000;
  display: flex;
  flex-direction: column;
  max-width: 90%; /* Assegura que o formulário não ultrapasse 90% da largura da tela */
  padding: 5px;
  width: 400px; /* Define uma largura fixa para o formulário */
}

.centralized > * {
  margin-bottom: 10px; /* Espaçamento entre os elementos do formulário */
}

.centralized-button {
  background-color: red;
  border: none;
  border-radius: 5px;
}
